.popup {
  height: 100vh;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  z-index: 2000;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  background: rgba(0, 8, 84, 0.27);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: none;
}

.popup.active {
  display: block;
}

.popup__body {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 15px 20px;
}

.popup.open {
  opacity: 1;
  pointer-events: all;
}

.popup__content {
  width: 100%;
  max-width: 950px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 60px;
  scale: 0.3;
  transition: scale 0.4s ease;
  background-color: rgb(243, 246, 251);
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.1);
}

.popup.open .popup__content {
  scale: 1;
}

.close-popup {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 12px;
  cursor: pointer;
  height: 12px;
  transition: width 0.3s linear, height 0.3s linear, top 0.3s linear, right 0.3s linear;
}
@media (hover: hover) {
  .close-popup:hover {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }
}

